name: CI Build

on:
  push:
  pull_request:
    types: [opened, reopened]

jobs:

  first_check:
    name: first code check / python-3.8 / ubuntu-latest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Python info
        run: |
          which python
          python --version
      - name: Build package and create dev environment
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
      - name: Show pip list
        run: |
          pip list
      - name: Check style against standards using prospector
        shell: bash -l {0}
        run: prospector --profile linter_profile -o grouped -o pylint:pylint-report.txt
      - name: Run unit test / Test coverage with Scrutinizer
        run: |
          coverage run --source=mcfly -m pytest
          pip install scrutinizer-ocular
          ocular

  basic_checks:
    name: Run tests across OS and versions / python-${{ matrix.python-version }} / ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: first_check
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.6', '3.7', '3.8', '3.9']
        exclude:
          # already tested in first_check job
          - python-version: 3.8
            os: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Python info
        run: |
          which python
          python --version
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .[dev]
      - name: Show pip list
        run: |
          pip list
      - name: Run unit tests
        run: |
          pytest
      - name: Check style against standards using prospector
        shell: bash -l {0}
        run: prospector --profile linter_profile -o grouped -o pylint:pylint-report.txt
