name: documentation

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  docs:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

        # this action updates pip, setuptools, and wheel before install
      - name: Install Python dependencies
        run: |
          pip install --upgrade pip setuptools wheel
          pip install .[publishing]

      - name: Trigger Sphinx build
        run: |
          cd docs
          make html

